<h4 class="my-5 mx-5">商品一覧</h4>
<table class="table col-5 ml-5">
  <thead class="thead-light">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tr>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
