<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <p class="border border-dark m-5">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売ECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
    <div class="col-3"></div>
    <div class="col-9">
      <h3><b>新着商品</b></h3>
    </div>
  </div>
</div>
