<div class="container">
  <div class="row mt-5">
    <h3><b>ジャンル一覧</b></h3>
    <h5 class="align-bottom">（全<%= @items.count %>件）</h5>
    <% @items.each do |item| %>
    <div class="col-md-3">
    <div class="img-fluid">
      <%= image_tag item.get_image %>
    </div>
    <%= item.name %><br>
    ￥<%= item.price.to_s(:delimited) %>
    </div>
    <% end %>
  </div>
</div>



